.menu {
  background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.7) 20%,rgba(0,0,0,.4) 50%,transparent 100%);
  border-bottom: none;
  height: 6rem;
  padding: 0 2rem;
  position: absolute;
  transition: all .5s;
  top: 0;
  width: 100%;
  z-index: 9;
}

.menu__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.logo {
  max-height: 2.8rem;
}

@media screen and (min-width: 1025px) {
  .menu {
    background: #000;
    border-bottom:1px solid rgba(255,255,255,.2);
    position: fixed;
    transition: all .5s;
  }
}