.movie__details-play-button {
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  cursor: pointer;
  font-size: 2rem;
  height: 6rem;
  padding-left: .65rem;
  width: 6rem;
  transition: all 0.5s ease;
}

.movie__details-play-button:hover {
  transform: scale(1.15);
}

.movie__details-play-button:focus {
  outline: none;
}

.movie__details-player {
  height: 12rem;
  margin-top: 4.5rem;
  width: 24rem;
}

.movie__details-player:focus {
  outline: none;
}

@media screen and (min-width: 560px) {
  .movie__details-player {
    height: 24rem;
    margin-top: 0;
    width: 32rem;
  }
}

@media screen and (min-width: 768px) {
  .movie__details-play-button {
    font-size: 3rem;
    height: 8rem;
    padding-left: .65rem;
    width: 8rem;
  }

  .movie__details-player {
    height: 30rem;
    width: 40rem;
  }
}

@media screen and (min-width: 992px) {
  .movie__details-player {
    height: 40rem;
    width: 65rem;
  }
}

@media screen and (min-width: 1025px) {
  .movie__details-player {
    height: 48rem;
    width: 80rem;
  }
}