.hero {
  background: url('/assets/img/sample_hero@sm.jpg') no-repeat center;
  background-size: cover;
  height: 16rem;
}

.hero.full--screen {
  min-height: 20rem;
}

@media screen and (min-width: 480px) {
  .hero.full--screen {
    height: 30rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: url('/assets/img/sample_hero@md.jpg') no-repeat center;
    background-size: cover;
    height: 30rem;
    margin-top: 0;
  }
  .hero.full--screen {
    height: 45rem;
  }
}


@media screen and (min-width: 992px) {
  .hero.full--screen {
    height: calc(100vh - 6.1rem);
  }
}

@media screen and (min-width: 1025px) {
  .hero {
    background: url('/assets/img/sample_hero@lg.jpg') no-repeat center;
    background-size: cover;
    margin-top: 6.1rem;
    height: 36rem;
  }
  .hero.full--screen {
    height: calc(100vh - 6.1rem);
  }
}