* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:after, *:before {
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../../assets/fonts/noto-regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../../assets/fonts/noto-bold.woff2');
  font-weight: 700;
}

html {
  font-size: 62.5%; /* 1rem = 10px for easy maths! */
}

body {
  background: #000;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  position: relative;
}

@import url('./grid.css');
@import url('./utilities.css');