/* Flex Grid */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-between;
}

/* Width */
.w-full {
  width: 100%;
}

/* Height */
.h-full {
  height: 100%;
}

.h-50vh {
  height: 50vh;
}

/* Position */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}