.loader {
  border: .4rem solid #f3f3f3;
  border-radius: 50%;
  border-top: .4rem solid #000;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg);
   }
  100% { 
    -webkit-transform: rotate(360deg); 
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% {
     transform: rotate(360deg); 
    }
}

/* Text */

.text-white {
  color: #FFF;
}

.text-no-underline {
  text-decoration: none;
}

/* Overflows */

.overflow-hidden {
  overflow: hidden;
}