.movies {
  padding: 4rem 0;
}

.movies__headline {
  font-size: 1.8rem;
  margin: 2rem 0;
  padding: 0 1.5rem;
}

.movies__headline:first-child {
  margin-top: 0;
}

.movies__loader {
  min-height: calc(100vh - 16rem);
}

@media screen and (min-width: 768px) {
  .movies__loader {
    min-height: calc(100vh - 30rem);
  }
}

@media screen and (min-width: 1025px) {
  .movies__loader {
    min-height: calc(100vh - 42.1rem);
  }
}