.carousel__items {
  transition: all 0.5s ease;
  white-space: nowrap;
}

.carousel__item {
  display: inline-block;
  padding: 0 .5rem;
  transition: all 0.5s ease;
  vertical-align: top;
  width: calc(100%/2.5);
}

.carousel__item:after {
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.1);
  content: '';
  display: block;
  height: 100%;
  left: 0.5rem;
  position: absolute;
  top: 0;
  width: calc(100% - 1rem);
}

.carousel__item:hover:after {
  border: 4px solid #ffe300;
  border-radius: 2px;
}

.carousel__artwork {
  width: 100%;
}

.carousel__item:first-child {
  margin-left: 15px;
  padding-left: 0;
}

.carousel__arrow {
  cursor: pointer;
  top: 0;
  width: 5%;
  z-index: 1;
}

.carousel__arrow:after {
  color: #FFF;
  font-size: 4rem;
  text-shadow: 0 0 3px rgba(0,0,0,0.65);
}

.carousel__arrow--left {
  background: linear-gradient(to right,rgba(23,23,23,.95) 0,transparent 100%);
  left: 0;
}

.carousel__arrow--left:after {
  content: '❮';
}

.carousel__arrow--right {
  background: linear-gradient(to left,rgba(23,23,23,.95) 0,transparent 100%);
  right: 0;
}

.carousel__arrow--right:after {
  content: '❯';
}

@media screen and (min-width: 560px) {
  .carousel__item {
    width: calc(100%/3.5);
  }
}

@media screen and (min-width: 730px) {
  .carousel__item {
    width: calc(100%/4.5);
  }
}

@media screen and (min-width: 910px) {
  .carousel__item {
    width: calc(100%/5.5);
  }
}

@media screen and (min-width: 1140px) {
  .carousel__item {
    width: calc(100%/6.5);
  }
}